@use '../../scss/variables/responsives.module.scss' as views;
@use '../../scss/variables/colors.module.scss' as colors;

.cart {
  margin: 40px 0;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  position: relative;
}

.like {
  cursor: pointer;
}

.link {
  cursor: pointer;
  transition: 0.3s all linear;

  &:hover {
    color: colors.$primary100;
  }
}

.img {
  background-color: #dedede;
  width: 272px;
  height: 200px;
  user-select: none;

  ul li button {
    box-shadow: 0px 0px 4px 0px #000000bd;
  }

  ul li:not([class='slick-active']) button {
    box-shadow: 0px 0px 3px 2px #000000bd;
  }

  &_item {
    width: 272px !important;
    height: 200px;
    object-fit: cover;
  }
}

.description {
  overflow: hidden;
  max-width: 350px;
  max-height: 66px;

  p {
    white-space: nowrap;
    max-width: 100%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mapContainer {
  width: 45%;
  max-height: 85vh;
  position: sticky;
  top: 100px;
  left: 0;
}

.title {
  margin-top: 30px;
}

.swipe {
  display: none;
  width: 50px;
  height: 4px;
  background-color: colors.$borderColor;
  margin: 0 auto;
  border-radius: 5px;
  transform: translateY(-25px);
}

.content {
  width: 70%;
}

@media (max-width: views.$mobile) {
  .title {
    font-size: 16px !important;
  }

  .content {
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
  }

  .swipe {
    display: block;
  }

  .img {
    &_item {
      width: 100% !important;
      height: 170px;
    }
  }
  .mapContainer {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 60px;
  }

  .managment {
    flex-direction: column;
    gap: 20px;

    div {
      font-size: 12px;
    }
  }

  .search {
    position: fixed;
    top: 60px;
    z-index: 99999;
    width: 100%;
    padding: 15px 20px;
    padding-top: 10px;
    backdrop-filter: blur(5px);
    left: 50%;
    transform: translateX(-50%);
  }

  .cart {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-top: 500px;
    padding: 0;
    margin-bottom: 0;
  }

  .content {
    z-index: 3;
    background-color: #f6f6f6;
    position: relative;
    padding-bottom: 20px;
  }
}
