@use '../../scss/variables/responsives.module.scss' as views;
@use '../../scss/variables/colors.module.scss' as colors;

.cart {
  margin: 40px 0;
}

.like{
  cursor: pointer;
}

.link{
  cursor: pointer;
  transition: 0.3s all linear;
  
  &:hover{
    color: colors.$primary100;
  }
}

.img{
  width: 272px;
  height: 170px;
  object-fit: cover;
}

.description {
  overflow: hidden;
  max-width: 600px;
  max-height: 66px;

  p {
    white-space: nowrap;
    max-width: 100%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@media (max-width: views.$mobile) {
  .title{
    font-size: 21px !important;
  }

  .img{
    width: 100%;
  }
}

